html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.required-star {
    color: red;
}

.error {
    color: red;
    font-style: italic
}

input[type=text].error {
    border: red 1px solid;
}

.header-fixed .header {
    background-color: #2799E3 !important;
    height: 120px !important;
}

.footer {
    background-color: #2799E3 !important;
    color: #fff !important;
    position: initial !important;
    line-height: 30px !important;
}

#kt_content {
    background-color: #e9e9e9;
}

.stepper-icon-active {
    border: 2px solid #2799e3;
}

.stepper-number-active {
    color: #fff !important;
}

.stepper-title-active {
    color: #2799e3 !important;
}