@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="email-content">
        <form id="register-email-form">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div style="float: right">
                <button id="register-email-submit" type="button" class="btn btn-primary" onclick="return registerEmail();">Continue</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/registerEmail.js"></script>
}