@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Standard Info Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link rel="stylesheet" href="~/css/studentDetail.css" />
}

<style>
    .error {
        color: red;
        font-style: italic
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form id="form-info">
            <input hidden id="email-register" value="@ViewBag.Email"></input>
            <h3>Section A: To be completed by the PAYEE</h3>
            <div class="group-item">
                <div id="common-info">
                    <!-- 1 -->
                    <div class="mb-3">
                        <label for="taxFileNumber" class="form-label">
                            1. What is your tax file number (TFN)?
                            <span class="required-star">*</span>:
                        </label>
                        <input type="text" class="form-control" id="taxFileNumber" name="taxFileNumber" value="">
                    </div>

                    <!-- 2 -->
                    <div class="mb-3">
                        <label for="nameTitle" class="form-label">2. What is your name?<span class="required-star">*</span></label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="nameTitle" id="nameTitle1" value="1">
                                <label class="form-check-label" for="nameTitle1">Mr</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="nameTitle" id="nameTitle2" value="2">
                                <label class="form-check-label" for="nameTitle2">Mrs</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="nameTitle" id="nameTitle3" value="3">
                                <label class="form-check-label" for="nameTitle3">Miss</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="nameTitle" id="nameTitle4" value="4">
                                <label class="form-check-label" for="nameTitle4">Ms</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label">Surname or family name<span class="required-star">*</span></label>
                        <input type="text" class="form-control" id="surname" name="surname" value="">
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First given name<span class="required-star">*</span></label>
                            <input type="text" class="form-control" id="firstName" name="firstName" value="">
                    </div>
                    <div class="mb-3">
                        <label for="otherName" class="form-label">Other given names</label>
                        <input type="text" class="form-control" id="otherName" value="">
                    </div>

                    <!-- 3 -->
                    <div class="mb-3">
                        <label for="homeAddress" class="form-label">
                            3. What is your home address in Australia?
                            <span class="required-star">*</span>
                        </label>
                        <input type="text" class="form-control" id="homeAddress" name="homeAddress" value="">
                    </div>
                    <div class="mb-3">
                        <label for="suburb" class="form-label">Suburb/town/locality<span class="required-star">*</span></label>
                        <input type="text" class="form-control" id="suburb" name="suburb" value="">
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State/territory<span class="required-star">*</span></label>
                            <input type="text" class="form-control" id="state" name="state" value="">
                    </div>
                    <div class="mb-3">
                        <label for="postCode" class="form-label">PostCode<span class="required-star">*</span></label>
                            <input type="text" class="form-control" id="postCode" name="postCode" value="">
                    </div>

                    <!-- 4 -->
                    <div class="mb-3">
                        <label for="previousFamilyName" class="form-label">
                            4. If you have changed your name since you last dealt with the ATO, provide your previous family name.
                            <span class="required-star">*</span>
                        </label>
                        <input type="text" class="form-control" id="previousFamilyName" value="">
                    </div>

                    <!-- 5 -->
                    <div class="mb-3">
                        <label for="email" class="form-label">
                            5. What is your primary e-mail address?
                            <span class="required-star">*</span>
                        </label>
                            <input type="text" class="form-control" id="email" name="email" value="">
                    </div>

                    <!-- 6 -->
                    <div class="mb-3">
                        <label for="dayOfBirth" class="form-label">
                            6. What is your date of birth?
                            <span class="required-star">*</span>
                        </label>
                        <div class="row">
                            <div class="col-md-4">
                                    <select class="form-select" aria-label="Default select example" id="dayOfBirth" name="dayOfBirth">
                                    <option selected value="">--- Day ---</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                    <select class="form-select" aria-label="Default select example" id="monthOfBirth" name="monthOfBirth">
                                    <option selected value="">--- Month ---</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                    <select class="form-select" aria-label="Default select example" id="yearOfBirth" name="yearOfBirth">
                                    <option selected value="">--- Year ---</option>
                                    <option value="1">1995</option>
                                    <option value="2">1996</option>
                                    <option value="3">1997</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- 7 -->
                    <div class="mb-3">
                        <label for="paidBasis" class="form-label">
                            7. On what basis are you paid? (select only one)
                            <span class="required-star">*</span>
                        </label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paidBasis" id="paidBasis1" value="1">
                                <label class="form-check-label" for="paidBasis1">
                                    Full‑time employment
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paidBasis" id="paidBasis2" value="2">
                                <label class="form-check-label" for="paidBasis2">
                                    Part‑time employment
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paidBasis" id="paidBasis3" value="3">
                                <label class="form-check-label" for="paidBasis3">
                                    Labour hire
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paidBasis" id="paidBasis4" value="4">
                                <label class="form-check-label" for="paidBasis4">
                                    Superannuation or annuity income stream
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paidBasis" id="paidBasis5" value="5">
                                <label class="form-check-label" for="paidBasis5">
                                    Casual employment
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- 8 -->
                    <div class="mb-3">
                        <label for="residencyStatus" class="form-label">
                            8. Are you: (select only one)
                            <span class="required-star">*</span>
                        </label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="residencyStatus" id="residencyStatus1" value="1">
                                <label class="form-check-label" for="residencyStatus1">
                                    An Australian resident for tax purposes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="residencyStatus" id="residencyStatus2" value="2">
                                <label class="form-check-label" for="residencyStatus2">
                                    A foreign resident for tax purposes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="residencyStatus" id="residencyStatus3" value="3">
                                <label class="form-check-label" for="residencyStatus3">
                                    A working holiday maker
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- 9 -->
                    <div class="mb-3">
                        <label for="claimTaxFree" class="form-label">
                            9. Do you want to claim the tax-free threshold from this payer?
                            <span class="required-star">*</span>
                        </label>
                        <div>
                            Only claim the tax‑free threshold from one payer at a time, unless your total income from all sources for the financial year will be less than the tax‑free threshold.
                        </div>
                        <div>
                            Answer no here if you are a foreign resident or working holiday maker, except if you are a foreign resident in receipt of an Australian Government pension or allowance
                        </div>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="claimTaxFree" id="claimTaxFree1" value="1">
                                <label class="form-check-label" for="claimTaxFree1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="claimTaxFree" id="claimTaxFree0" value="0">
                                <label class="form-check-label" for="claimTaxFree0">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- 10 -->
                    <div class="mb-3">
                        <label for="haveLoanProgram" class="form-label">
                            10. Do you have a Higher Education Loan Program (HELP), VET Student Loan (VSL), Financial Supplement (FS), Student Start-up Loan (SSL) or Trade Support Loan (TSL) debt?
                            <span class="required-star">*</span>
                        </label>
                        <div>
                            Your payer will withhold additional amounts to cover any compulsory repayment that may be raised on your notice of assessment.
                        </div>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="haveLoanProgram" id="haveLoanProgram1" value="1">
                                <label class="form-check-label" for="haveLoanProgram1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="haveLoanProgram" id="haveLoanProgram0" value="0">
                                <label class="form-check-label" for="haveLoanProgram0">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            </form>

            <div style="float: right">
                <button id="add-submit" type="button" class="btn btn-primary" onclick="return submit();">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/standardInfo.js"></script>
}